@font-face{
    src: url("fonts/metropolis/Metropolis-Regular.otf");
    font-family: Metropolis;
    font-weight: normal;
}

@font-face{
    src: url("fonts/metropolis/Metropolis-Bold.otf");
    font-family: Metropolis;
    font-weight: bold;
}

@font-face{
    src: url("fonts/metropolis/Metropolis-Light.otf");
    font-family: Metropolis;
    font-weight: lighter;
}

:root{
    --main-background: #171a27;
    --side-background: #0f111a;
    /*--color1: #ff6a07;
    --color2: #ff194b;*/
    --color1: #F78C6C;
    --color2: #82AAFF;
    --radius: 20px;
    --main-gradient: linear-gradient(90deg, var(--color1), var(--color2));
}


body{
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar content none"
        "sidebar footer none";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto 200px;
    gap: 20px;

    margin: 0 auto;
    background-color: var(--side-background);
    color: #8f93a2;
    
    font-family: Metropolis;
    font-weight: normal;
}

@keyframes header-fade{
    0%{
        background-position: 0% 50%, 0%;
    }
    100%{
        background-position: 125% 50%, 0%;
    }
}

header{

    grid-area: header;
    background: linear-gradient(90deg, 
                    var(--color1) 0%, 
                    var(--color2) 50%, 
                    var(--color1) 100%), 
                url("img/wyre.webp");

    background-blend-mode: multiply;
    background-position: center, center;
    background-size: 500% 100%, cover;

    box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.9) inset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 3;

    animation: header-fade 5s linear infinite;
}

header > h1{
    font-size: 5em;
    font-weight: lighter;
    text-align: center;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.2em;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

header > h2{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    margin-bottom: 2em;
    margin-left: 0.3em;
    margin-right: 0.3;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.content > h1{
    font-size: 2.5em;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: var(--color1);
    text-decoration-thickness: 3px;

}

.content{
    grid-area: content;
    border: 2px solid var(--main-background);
    border-radius: var(--radius);
    padding: 20px;
    padding-left: 35px;
    z-index: 2;
    line-height: 1.3em;
    font-size: 1.2em;
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--side-background);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.sidebar > a{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #8f93a2;
    font-size: 1.5em;
    text-decoration: none;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border: 2px solid var(--main-background);
    border-left: none;
    
    transition: all 0.25s;
}

.sidebar > a:hover{
    background: var(--color1);
    color: var(--side-background);
}

footer{
    grid-area: footer;
    text-align: center;
}

a{
    color: var(--color1);
    text-decoration-color: var(--color1);
}


@media (max-aspect-ratio: 1/1){
    .sidebar{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sidebar > a{
        margin: 2px;
        border-radius: 10px;
        border: 2px solid var(--main-background);
    }

    header > h1{
        font-size: 3em;
    }

    body{
        grid-template-areas: 
            "header header header"
            "sidebar sidebar sidebar"
            "content content content"
            "footer footer footer";
        grid-template-rows: auto auto auto 100px;
    }
}
