@font-face{
    src: url("fonts/metropolis/Metropolis-Regular.otf");
    font-family: Metropolis;
    font-weight: 400;
}

@font-face{
    src: url("fonts/metropolis/Metropolis-Bold.otf");
    font-family: Metropolis;
    font-weight: bold;
}

@font-face{
    src: url("fonts/metropolis/Metropolis-Light.otf");
    font-family: Metropolis;
    font-weight: lighter;
}

@font-face{
    src: url("fonts/metropolis/Metropolis-Medium.otf");
    font-family: Metropolis;
    font-weight: 500;
}

@font-face{
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    font-family: Roboto;
    font-weight: 400;
}


:root{
    --border-color: #4b4f61;
    --primary-background: #08090e;
    --secondary-background: #0f111a;
    /*--color1: #ff6a07;
    --color2: #ff194b;*/
    --color1: #F78C6C;
    --color2: #82AAFF;
    --radius: 20px;
    --main-gradient: linear-gradient(90deg, var(--color1), var(--color2));
}


body{
    display: grid;
    grid-template-areas: 
        "header header header"
        ".      content ."
        ".      footer .";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto 200px;
    gap: 20px;

    margin: 0 auto;
    background-color: var(--primary-background);
    color: #8f93a2;
    
    font-family: Metropolis;
    font-weight: normal;
}

@keyframes header-fade{
    0%{
        background-color: var(--color1);
    }
    50%{
        background-color: var(--color2);
    }
    100%{
        background-color: var(--color1);
    }
}

header{

    grid-area: header;
    background: url("img/wyre.png");
    background-color: var(--color1);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;

    box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.9) inset;

    animation: header-fade 10s infinite;
}

header  h1{
    font-size: 5em;
    font-weight: lighter;
    text-align: center;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.2em;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

header  h2{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    margin-bottom: 2em;
    margin-left: 0.3em;
    margin-right: 0.3;
    text-align: center;
    font-weight: 500;
    color: white;
}

.content  h1{
    font-size: 2.5em;
    font-weight: normal;
    font-family: Metropolis;
    text-decoration: underline;
    text-decoration-color: var(--color1);
    text-decoration-thickness: 3px;
}

.content{
    grid-area: content;
    border: 2px solid var(--border-color);
    border-radius: var(--radius);
    padding: 20px;
    padding-left: 35px;
    line-height: 1.3em;
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: 500;
    background-color: var(--secondary-background);
}

.navbar{
    grid-area: navbar;
}

.navbar  a{
    display: block;
    float: right;
    padding: 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;

    background-color: var(--primary-background);
    
    transition: all 0.25s;
}

.navbar  #hamburger{
    display: block;
    float: right;
    font-size: 1.5em;
    display: none;
}

.navbar  a:hover{
    /*
        HACK:
        die Border zu setzen würde die Höhe des Links verändern, wodurch sich die seite nach unten verschiebt
    */
    box-shadow: 0px 2px 0px var(--color1);
}

footer{
    grid-area: footer;
    text-align: center;
}

a{
    color: var(--color1);
    text-decoration-color: var(--color1);
}

#hamburger-checkbox{
    display: none;
}

/*
    Die Metropolis-Font enthält keine deutschen Anführungszeichen
*/
q::before{
    font-family: Roboto;
}
q::after{
    font-family: Roboto;
}

@media (max-aspect-ratio: 1/1){
    .navbar{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar  a{
        visibility: hidden;
        float: none;
        opacity: 0;
        max-height: 0px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid var(--border-color);
        border-radius: var(--radius);
        margin-bottom: 0px;
        padding: 0px;
    }

    .navbar  a:hover{
        background-color: var(--color1);
        color: var(--primary-background);
        box-shadow: none;
    }

    .navbar  #hamburger{
        display: block;
        float: right;
    }

    #hamburger-checkbox:checked ~ a{
        visibility: visible;
        opacity: 1;
        max-height: 500px;
        padding: 10px;
        margin-bottom: 5px;
    }

    #hamburger-checkbox:checked ~ a:first-of-type{
        margin-top: 60px;
    }

    header  h1{
        font-size: 3em;
    }

    .content  h1{
        font-size: 1.5em;
    }

    .content  h2{
        font-size: 1.2em;
    }

    .content{
        padding: 10px;
    }

    #hamburger-checkbox{
        position: absolute;
        right: 5px;
        top: 0px;
        width: 50px;
        height: 50px;
        opacity: 0;
        display: block;
        z-index: 10;
    }

    #hamburger{
        position: absolute;
        right: 10px;
        top: 0px;
        width: 50px;
        height: 50px;
    }

    #hamburger span{
        background-color: white;
        border-radius: 2px;
        height: 4px;
        margin-top: 13px;
        width: 100%;
        display: block;
        transform-origin: center left;
        transition: all 0.25s;
    }

    #hamburger-checkbox:checked ~ #hamburger span:nth-child(1){
        transform: rotate(45deg);
    }

    #hamburger-checkbox:checked ~ #hamburger span:nth-child(2){
        opacity: 0;
    }

    #hamburger-checkbox:checked ~ #hamburger span:nth-child(3){
        transform: rotate(-45deg);
    }

    body{
        grid-template-areas: 
            "header header header"
            "navbar navbar navbar"
            "content content content"
            "footer footer footer";
        grid-template-rows: auto auto auto 100px;
    }
}
